<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adversarial Attack</title>
</head>
<body>
    <h1>Choose Attack Type</h1>
    <form action="/attack/" method="post">
        {% csrf_token %}
        <label for="attack_type">Select Attack Type:</label>
        <select name="attack_type" id="attack_type">
            <option value="fgsm">FGSM</option>
            <option value="pgd">PGD</option>
            <option value="deepfool">DeepFool</option>
            <option value="jsma">JSMA</option>
        </select><br><br>
        <label for="image_index">Image Index:</label>
        <input type="number" name="image_index" id="image_index" value="100"><br><br>
        <input type="submit" value="Attack">
    </form>
</body>
</html>
